figure > img {
   margin-left: auto;
   margin-right: auto;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

article > p {
   margin-top: 0.625rem;
   margin-bottom: 0.625rem;
}
.has-medium-font-size {
   font-size: 1.5rem;
}

.has-large-font-size {
   font-size: 1.875rem;
}

article > ol > li,
article > ul > li {
   margin-top: 0.625rem;
   margin-bottom: 0.625rem;
}

article > h3 {
   font-size: 1.5rem;
   line-height: 2.25rem;
}

article > h3 > strong {
   font-weight: 550;
}

/* font-normal	font-weight: 400;
font-medium	font-weight: 500;
font-semibold	font-weight: 600;
font-bold	font-weight: 700; */

/* 
text-lg	font-size: 1.125rem;
line-height: 1.75rem; 
text-xl	font-size: 1.25rem; 
line-height: 1.75rem; 
text-2xl	font-size: 1.5rem; 
line-height: 2rem; 
text-3xl	font-size: 1.875rem; 
line-height: 2.25rem; 
text-4xl	font-size: 2.25rem; 
line-height: 2.5rem; 
text-5xl	font-size: 3rem;
line-height: 1;
*/
