.react-calendar {
   width: 100%;
   height: 100%;
   color: #222;
   border-radius: 0.75rem;
   overflow: hidden;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.125em;
   display: flex;
   flex-direction: column;
}
.react-calendar__navigation {
   display: flex;
   user-select: none;
}

.react-calendar__navigation__label__labelText--from {
   font-weight: bold;
   font-size: 1.2rem;
}
.react-calendar__navigation__label {
   pointer-events: none;
}

.react-calendar__viewContainer {
   height: 100%;
}

.react-calendar__month-view {
   height: 100%;
}

.react-calendar__month-view__weekdays {
   padding: 0.5rem 0;
}

.react-calendar__month-view__weekdays__weekday {
   font-weight: bold;
   padding: 0 0.5rem;
}

.react-calendar__month-view__days {
   padding: 0 0.25rem;
   height: 100%;
}

.react-calendar__month-view__days__day {
   height: 40px;
}

.react-calendar__navigation button {
   color: black;
   min-width: 44px;
   min-height: 30px;
   background: none;
   font-size: 16px;
   margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
   background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
   background-color: #f0f0f0;
   opacity: 0;
   pointer-events: none;
}
abbr[title] {
   text-decoration: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
   background-color: #f5f5f5;
   color: #b9b9b9;
}

.react-calendar__tile[disabled] {
   color: #b9b9b9;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
   background: #ebebeb;
}
.react-calendar__tile--now {
   background: #222;
   font-weight: bold;
   color: white;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
   background: black;
   font-weight: bold;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
   background: #f8f8fa;
}
.react-calendar__tile--active {
   background: #fdd92a;
   font-weight: bold;
   color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
   background: #fdd92a;
   color: black;
}
.react-calendar--selectRange .react-calendar__tile--hover {
   background-color: #f8f8fa;
}
.react-calendar__tile--range {
   background: #f8f8fa;
   color: #fdd92a;
}
.react-calendar__tile--rangeStart {
   background: #fdd92a;
   color: white;
}
.react-calendar__tile--rangeEnd {
   background: #fdd92a;
   color: black;
}

.react-calendar__navigation__prev2-button {
   display: none;
}

.react-calendar__navigation__next2-button {
   display: none;
}

@media (min-width: 360px) {
   .react-calendar__month-view__weekdays {
      padding: 0.75rem 0;
   }

   .react-calendar__navigation button {
      min-height: 44px;
   }

   .react-calendar__month-view__days__day {
      height: 40px;
   }
}

/* Medium Screens */
@media (min-width: 768px) {
   .react-calendar__month-view__days__day {
      height: 65px;
   }
}

/* Large Screens */
@media (min-width: 1024px) {
   .react-calendar__month-view__days__day {
      height: 50px;
   }
}
